@model UpdateEmployeeDto
@{
    ViewData["Title"] = "EmlakciGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Yeni Emlakçı Ekle</h6>
        <hr />
        <form asp-action="Guncelle" asp-controller="AdminEmlakci" method="post">
            <div class="row mb-1">
                <label for="" class="col-sm-4 col-form-label">Emlakçı Adı:</label>
                <input type="hidden" value="@Model.EmployeeID" name="EmployeeID" />
                <div class="col-sm-8">
                    <input value="@Model.EmployeeName" name="EmployeeName" type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-1">
                <label for="" class="col-sm-4 col-form-label">Emlakçı Başlık:</label>
                <div class="col-sm-8">
                    <input value="@Model.EmployeeTitle" name="EmployeeTitle" type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-1">
                <label for="" class="col-sm-4 col-form-label">Emlakçı Mail:</label>
                <div class="col-sm-8">
                    <input value="@Model.EmployeeMail" name="EmployeeMail" type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-1">
                <label for="" class="col-sm-4 col-form-label">Emlakçı Telefon:</label>
                <div class="col-sm-8">
                    <input value="@Model.EmployeePhoneNumber" name="EmployeePhoneNumber" type="tel" class="form-control" id="" />
                </div>
            </div>
            <div class="row mb-1">
                <label for="" class="col-sm-4 col-form-label">Emlakçı Resim:</label>
                <div class="col-sm-8">
                    <input value="@Model.EmployeeImageURL" name="EmployeeImageURL" type="text" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-2 align-items-center">
                <legend class="col-sm-4 col-form-label pt-0">Emlakçı Durum:</legend>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input checked="@Model.EmployeeStatus" value="1"  name="EmployeeStatus" class="form-check-input" type="checkbox" id="EmployeeStatus">
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success">Emlakçı Güncelle</button>
        </form>
    </div>
</div>